<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="authorizationType" value="basic or oauth"/>
    <add key="addressType" value="SmsApiPl or SmsApiCom or SmsApiIo"/>
    <add key="username" value="username"/>
    <add key="password" value="md5 hash (not required if oauth token present)"/>
    <add key="oauthToken" value="oauth token (not required if password present)"/>
    <add key="validTestNumber" value="48xxyyyzzz"/>
  </appSettings>
</configuration>