<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="authorizationType" value="basic or oauth"/>
    <add key="addressType" value="SmsApiPl or SmsApiCom"/>
    <add key="username" value="username"/>
    <add key="password" value="md5 hash"/>
    <add key="oauthToken" value="oauth token"/>
    <add key="validTestNumber" value="48xxyyyzzz"/>
    <add key="subUserName" value="username_sub"/>

    <add key="usernameOldPhonebook" value="username"/>
    <add key="passwordOldPhonebook" value="md5 hash"/>
  </appSettings>
</configuration>